# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE
.vscode/
.idea/

# Notes
notes/

# OS
.DS_Store
Thumbs.db

# Script for the initialization of solutions and tests
generate_leetcode.py